name: Deploy Django App to Azure Web App - mynewwebapp

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Collect static files
        run: |
          python manage.py collectstatic --noinput || echo "collectstatic skipped"

      - name: Create deployment package (zip root contents)
        shell: bash
        run: |
          shopt -s dotglob
          zip -r release.zip * -x '*.git*' -x '*__pycache__*' -x 'antenv/*'

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: django-build
          path: release.zip

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: "mynewwebapp"
          slot-name: "production"
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_ABAEC5F4B4E245BF83CB781A031E7DD9  }}
          package: release.zip
